<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="com.vogella.web.filecounter">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="com.vogella.web.filecounter"/>
        <property name="java-output-path" value="/com.vogella.web.filecounter/build/classes"/>
    </wb-module>
</project-modules>
